body {
    background-color: whitesmoke;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.fixed {
    background-color: whitesmoke;
}

main {
    height: 100%;
    flex: 1 0 auto;
}

main, footer {
    padding-left: 300px;
}


#navbarimage {
    width: 240px;
    height: 190px;
}

#name {
    font-size: 20px;
}

#email {
    font-size: 20px;
}

.container {
    padding-left: 30px;
}

h2, p, .input-field, a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#contactHeader {
    align-content: center;
    text-align: center;
}

#contactp {
    text-align: center;
    /* width: 70%; */
    /* margin-left: 175px; */
}

fab {
    height: 20px;
    width: 20px;
}

