body {
    background-color: whitesmoke;
}

.container {
    width: 80%;
}

.fixed {
    background-color: whitesmoke;
}

header, main, footer {
    padding-left: 300px;
}


#name {
    font-size: 20px;
}

#email {
    font-size: 20px;
}

#navbarimage {
    width: 240px;
    height: 190px;
}

h1, h2, h3, h5, p, a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#galleryImage {
    margin-left: 40px;
    height: 520px;
    /* border: solid;
    border-width: 2px; */
}

.portImg {
    width: 100%;

}


.icon {
    width: 115px;
    height: 115px;
    margin-left: 25px;
    margin-right: 25px;
}

@media (min-width: 908px) and (max-width: 1024px) {
    /* CSS for regular laptop screens. */
  
    .footer-copyright {
        width: 100%;
    }
                
    #galleryImage {
        height: 400px;    
    }
}
  
@media (min-width: 481px) and (max-width: 768px) {
    /* CSS for Tablets */
  
    .footer-copyright {
        width: 105%;
    }
  
    header, main, footer {
        padding-left: 0px;

    }
    /* h5, p {
        font-size: 9px;

    } */

    #galleryImage {
        height: 400px;
        
    }
    
    /* .portImg {
        padding-bottom: 0;
    } */
  

      
}
  
@media (min-width: 320px) and (max-width: 480px) {
    /* CSS for Smartphones */
      
      .footer-copyright {
          width: 105%;
      }
  
      header, main, footer {
          padding-left: 0px;
      }

      h5, p {
          font-size: 9px;
      }

      #galleryImage {
          height: 225px;
          
      }
      
      .portImg {
          padding-bottom: 0;
      }
      
}